.bx-wrapper,.bx-viewport,.bx-viewport li{
	width: 100%;
	height: 755px;
}
#slide_img1{
	background:url(../img/key_bg1.jpg) no-repeat center / cover;
}
#slide_img2{
	background:url(../img/key_bg2.jpg) no-repeat center / cover;
}
#slide_img3{
	background:url(../img/key_bg3.jpg) no-repeat center / cover;
}
#slide_img4{
	background:url(../img/key_bg4.jpg) no-repeat center / cover;
}
#lead{
	background:url(../img/lead_bg.jpg) no-repeat top center;
	padding-top: 51px;
}
#lead .content{
	height: 871px;
	font-size: 16px;
	line-height: 28px;
}
.lead_txt1{

    margin-left: 5px;
    margin-top: 7px;
    width: 528px;
}
.lead_txt2{
	width: 465px;
	height: 280px;
	position: absolute;
	bottom: 0;
	right: 0;
}
#sec1{
	background:url(../img/sec1_bg.jpg) repeat-x top center;
	padding-top: 64px;
}
#sec1 .content{
	height: 716px;
}
#sec1Info{
	float: right;
	width: 363px;
}
.sec1_txt{
	margin:0 0 27px 15px;
}
#sec1_img{
	float: left;
	width: 287px;
	margin-top: 41px;
}
#sec1_img p{
	margin-bottom: 19px;
}
.sec1_img2{
	float: left;
	width: 287px;
	margin: 41px 0 0 22px;
}
#sec2{
	background:url(../img/sec2_bg.jpg) no-repeat top center;
	padding-top: 73px;	
}
#sec2 .content{
	height: 602px;
}
#sec2 h2{
	margin-left: 117px;
}
.sec2_txt{
	margin:0 0 36px 64px;
	width: 310px;
}
.sec2_btn{
	margin-left: 32px;
}
#rss{
	background:url(../img/rss_bg.jpg) repeat-x top center;
	padding-top: 54px;
}
#rss .content{
	height: 198px;
}
#rss h2{
	margin-left: 75px;
	float: left;
	width: 237px;
}
#feed{
	float: right;
	width: 635px;
	margin-top: 5px;
}
#feed li{
	padding:10px 0 17px 22px;
	background:url(../img/rss_dot.png) no-repeat 0px 18px;
}
#feed li span{
	float: left;
	width: 179px;
}